/.ipynb_checkpoints
/archive.ics.uci.edu
/data.csv
/final project- aiticktactoe.ipynb
/frame_head.csv
/games.csv
/Homework1- make_classification.ipynb
/iris.txt
/moon.png
/more from python.ipynb
/neural network ch1.ipynb
/numpy-chapters.ipynb
/numpy-homework.ipynb
/part 1-practice.ipynb
/Python Practice.ipynb
/SK.npz
/suman.npy
/svm homework.ipynb
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb